@import url("AdminPageStyle.css");


*{
  padding: 0px;
  margin: 0px;
}

body{
  background: rgba(252,234,187,1);
background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
Copy text
  color: white;
  margin: 0px;
  border: 0px;
  
}
p{
  background-color: black;
  color: black;
  padding: 10px;
}
.secondary{
  background-color: white;
  color: white;
  padding-left: 50px;
  align-content: center;

}
a{
  color: white;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  display : block;
  width:255px;
  height:30px;
  font-size: 15px;
}
a:hover{
  color: red;
  font-size: 18px;
}
a:active{
  font-size: 25px;
}
.smallPicture{
float:center;
width:290px;
height:300px;
margin:10px;
box-shadow: 5px 5px 5px 2px gray;
}
#news{
  margin-top: 150px;
  padding: 0px 150px 0px 150px;
  margin: 0 auto;
}
#horzNav{
  /*display: block;*/
  padding: 5px 20px 5px 0px;
  /*background-color: black;*/
  width: 100px;
  float: left;
  color: black;
}

.button{
  display: block;
  float: right;
  height:50px;
  width: 100px;
}
#header{
  width: 100%;
  height: 150px;
  
  color:white;
  	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
  
  
  
  
  
  
}
#sidebar{
  width: 280px;
  height: 100%;
  position: absolute;
  top: 150px;
  left: 0;
  bottom: 0;
  background: black;
  float: left;
}
#item{
  height: 700px;
  background:white ;
  color: black;
  padding-top: 200px;
  padding-right:350px;

}
ul li{
  padding: 0px;
  font-size: 30;
}
ul li:hover{
  color: yellow;
}
form{
  padding-left: 30px;
  padding-top: 80px;
  margin-bottom: 15px;
}
#login{
  font-size: 30px;
  margin: 5px;
}
#sub{
  height:50px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
}
#fields{
  height: 30px;
}


}
.formLogin {
	
	Bottom: 0px;
	
	
}
.header1 {
	
	text-align: center;
	
	width: 100%;
	font-size: 28px;
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
	border: 2px solid;
	height: 90px;
}
.SearchBars {
	
	float: left;
	margin-top: 20px;
	width: 25px;
	
}
.inputText {
	
	width: 100px;
	
	
}
.AdminLoginBar {
	
	float: bottom;
	margin-top: 700px;
	border: solid 2px;
	
	
}


 