@CHARSET "UTF-8";
.searchBar {
    border: 1px dashed #000000;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 13px;
    height: 34px;
    margin: 2% 0 0 0%;
    outline: medium none;
    padding: 0 0 0 46px;
    position: absolute;
    z-index: 50;
}
.searchBtn {
    background: #575c7a url("") repeat scroll 0 0;
    border: 7px dashed white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    margin: 2% 0px 0 12%;
    outline: medium none;
    padding: 0;
    position: absolute;
    width: 4%;
    z-index: 39;
}
.form-Search::before {
    color: red;
    content: "";
    font-family: "FontAwesome";
    font-size: 158%;
    margin: -4% 0 0 0.5%;
    padding-top: 6.5%;
    position: absolute;
    z-index: 2147483647;
}
p {
    color: white;
    margin: 14px 16px -23px 10px;
}
.ForTheSearchBar {
    font-size: 128%;
    padding: 52px 0 0 82%;
}
.searchBtn {
    background: #575c7a url("") repeat scroll 0 0;
    border: 7px dashed white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    margin: 2% 0 0 12%;
    outline: medium none;
    padding: 0;
}
.form-Home::before {
    color: #575c7a;
    content: "";
    font-family: "FontAwesome";
    font-size: 20px;
    margin: -1px -6px 16px -27px;
    padding-left: 0;
    position: absolute;
}
.form-List::before {
    color: #575c7a;
    content: "";
    font-family: "FontAwesome";
    font-size: 20px;
    margin: -1px -6px 16px -27px;
    padding-left: 0;
    position: absolute;
}
.form-Info::before {
    color: #575c7a;
    content: "";
    font-family: "FontAwesome";
    font-size: 20px;
    margin: -1px -6px 16px -27px;
    padding-left: 0;
    position: absolute;
}
.form-Phone::before {
    color: #575c7a;
    content: "";
    font-family: "FontAwesome";
    font-size: 20px;
    margin: -1px -6px 16px -27px;
    padding-left: 0;
    position: absolute;
}
.form-Cart::before {
    color: #575c7a;
    content: "";
    font-family: "FontAwesome";
    font-size: 20px;
    margin: -1px -6px 16px -27px;
    padding-left: 0;
    position: absolute;
}