.border {
    background: silver linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
    border: 2px solid;
    border-radius: 30px;
    height: 450px;
    margin: 4% 7px 4px 36%;
    text-align: center;
    width: 500px;
}



.h1 {
font-family: 'Roboto', sans-serif;
    padding: 9%;
}
#footera {
    background-color: #575c7a;
    color: #fff;
    font-size: 0.85em;
    margin: 779px 42px 0 1px;
    padding: 11px 845px 8px 4px;
    width: 1001px;
}
.ForTheSearchBar1 {
	
	float: left;
	top-margin: 300px;
	padding: 52px 0 0 82%;
	
}


