@CHARSET "UTF-8";

/* @import url("Layout.css"); */
/* @import url("NavBar.css"); */
/* @import url("Menu.css"); */
/* @import url("Holder.css"); */

html, body {
   margin:0;
   padding:0;
   height:100%;
   background:black;

}
#navBar{
	height:50px;
}
mn
body {
    background: #515673 none repeat scroll 0 0;
    color:white;
    font-family: arial;
    font-size: 14px;
    line-height: 1.5em;
 
}
.logInB{
	float:left;
	color:white;
	position:relative;
	top:27%;
	
}
.logIn{
		color:white;
		text-decoration:none;
}

a:hover {
    color: #009eff;
}

* {
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #24282e;
    border: 10px none;
    border-radius: 61px 0;
    height: 60px;
    padding-top: 1px;
    width: 96%;

    padding-right:4%;
}
.products{

	position:relative;
	margin-top:5%;
	width:100%;
	height:100%;
	text-align:center;
font-weight:bold;
margin-left:5px;
margin-right:5px;
}
.column1{
	width:150px;
}
.link{
	color:white;
	text-decoration:none;
}
.link:hover{
	color:red;
}
.col{
	min-height:200px;
}
.imagePr{
	height:100%;
}

#nav ul li {
	width:150px;
    background-color: white;
    border: 7px groove #575c7a;
    border-radius: 41px 0;
    color: white;
    display: inline-block;
    position: relative;
    text-align:center;
}
#nav ul li:hover {
    background-color: #ddd;
}

#nav ul a:hover {
    color: red;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
.sub {
     background-color: white;
    border: 7px groove #575c7a;
    border-radius: 41px 0;
    display: none;
    left: 20px;
    position: absolute;
    z-index: 100;
}

#nav ul ul:hover {
    display: block;
}
#nav ul ul li {
    background-color: white;
    border:none;
    display: block;
        width:100%;
        text-align:center;
        z-index:999999;
  
}

#nav ul ul li:hover {
    color: #099;
}
.menuB {
    color: black;
    display: inline-block;
    font-weight: bold;
    padding: 4px 3px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.subB{
	  color: black;
    display: inline-block;
    font-weight: bold;
    padding: 4px 3px 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;
}


.main {
    background-color: #fff;
    float: left;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    width: 70%;
}
.center{
	position:relative;
	left:37%;
	margin-top:15%;
	
}


.searchBar {
    border: 1px dashed #000000;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 16px;
  height:30px;
    outline: medium none;
    position: relative;
  
    margin-right:5px;
}
.searchBtn{

	position:relative;
	height:30px;
}
.searchC{
	float:right;
	margin-left:20px;
	height:30px;
}
#content{
	width:90%;
	margin-right:0;
	display:inline-block;
	height:85%;
}

#cart{
	float:right;
	width:10%;
}
#footer{
	bottom:0;
}
.order{
	margin-top:8px;
	width:100%;
	height:15%;
position:relative;
display:inline-block;
	background-color:white;
	
}

  .pPage{
 
  display:block;
  position:relative;
  margin: auto;
   margin-top:50px;
  width:30%;
  }

  .info{
  display:block;
background-color: rgba(102, 204, 204, 0.2);
padding-bottom:40px;

  }
  .info h2{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: fff#;
    padding: 15px 0 0 20px;
  }
  .info h3{
  font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: green;
    padding: 2px 0 0 20px;
  }
  .info p{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: fff#;
    padding: 0 0 0 20px;

  }
  .toCart{

  position:relative;
  border: none;
  color: red;
  padding:5px 10px;
  text-align: center;
  margin:auto;
    margin-top:20px;
  text-decoration: none;
  display: block;
  font-size: 20px;

  }
  .prodImg{
  height:250px;}
  
    #hero{
  width: 920px;
  height: 500px;
  display:block;
  position:relative;
  margin: auto;
  padding-top: 100px;
  }

  .info{
width:100%;
  height: 100px;
  display:block;
background-color: rgba(102, 204, 204, 0.2);

  }
  .info h2{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: fff#;
    padding: 15px 0 0 20px;
  }
  .info h3{
  font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: green;
    padding: 2px 0 0 20px;
  }
  .info p{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: fff#;
    padding: 0 0 0 20px;

  }
  .button{
 margin:auto;
position:relative;
  border: none;
  background:#3F464C;
  color: white;
  font-size:116%;
  padding:5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin-top:20px;
cursor:pointer;
  }
  .button:hover{
  background:black}
  .prodImg{
    margin-top:20px;
    margin-bottom:20px}
.test{
	color:red;
	background-color:gray;
	border:none;
}
.noBorder{
	width:95%;
	margin-top:20px;
height:90%;
}
.noBorder tr,
.noBorder td
  { border: 0 !important; 
margin:0 !important;
padding-right:5px;

background:#305760;
	color:black;
letter-spacing:0.2px;




}
.noBorder th{
	margin:0 !important;
padding-right:5px;
border: 0 !important; 
background:#305760;
	color:black;
letter-spacing:0.2px;

}
.noBorder tr:hover, .noBorder td:hover, .noBorder th:hover{
	color:white;
}
.ui-widget-content a{
	color:black;
	font-size:116%;
	text-decoration:none;
}
.ui-widget-content a:hover{
	color:white;
	font-size:130%;
	text-decoration:none;
}


.ui-column-title{
		color:black;
		    box-shadow:none;
		    text-shadow:none;
}
.ui-column-title:hover{
	color:white;
}
.ui-state-default{
	   box-shadow:none;
}



.ui-widget-header{
	background:#305760;
	border:none !important;
}
.ui-widget-content{
	border:none !important;
}
.ui-paginator{
	position:relative;

	margin:auto;
}
.texts{
	text-overflow:hidden;
	max-height:150px;
	
}