.border {
background:#305760;
    border: 2px solid;
    border-radius: 30px;
    margin-top:10px;
height:100%;

    text-align: center;
    position:relative;
}
.menu {
    float: left;
    list-style-type: none;
    position: relative;
    z-index: 5;
}
.h1 {
	margin-top:30px;
	margin-bottom:30px;
font-family: 'Maven Pro', sans-serif;
font-weight:normal;
    font-size: 308%;
    display:block;
}
#footera {
  background-color: #575c7a;
    color: #fff;
    font-size: 0.85em;
        position:fixed;
    width: 100%;
     bottom:0px;
    left:0px;
    right:0px;
 
}
.Buttons {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
   width:  150px;;
}


}

.logInT{
	font-size : 25px;
	display:block;
	font-family:"Maven pro";
	margin-bottom:15px;
}



input {
	height: 30px;
/* 	width: 180px; */
	font-size: 18px;
	margin-bottom: 20px;
	background-color: white;
/* 	padding-left: 25px; */
	color: black;
}
.movingLogin{
	margin:4% 2% 5% 9%;
}