@CHARSET "UTF-8";

body {
	margin: 0 auto;
	background-image: url("../images/background1.png");
	background-repeat: no-repeat;
	background-size: 100% 720px;
}

.container {
	width: 500px;
	height: 400px;
	text-align: center;
	background-color: rgba(52, 73, 94, .2);
	border-radius: 4px;;
	margin: 0 auto;
	margin-top: 150px;
	
}

.container img {
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}

input {
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #f6f2f9;
	padding-left: 35px;
	color: #9e0aff;
}

.form-U::before {
	content: "\f007";
	position: absolute;
	font-family: 'FontAwesome';
	padding-left: 80px;
	padding-top: 7px;
	font-size: 30px;
	color: #4e2561;
}

.form-P::before {
	content: "\f023";
	position: absolute;
	font-family: 'FontAwesome';
	padding-left: 80px;
	padding-top: 7px;
	font-size: 30px;
	color: #4e2561;
}