@charset "UTF-8";

body{
  color: #575c7a;
  line-height: 1.5em;
  font-family:arial;
  font-size: 14px;
  background: #515673;
}
#page{
  max-width: 980px;
  margin: 0px auto 0px auto;
  position: relative;
  background-color: #fff;
}
#cart{
  position: relative;
  top: 2px;
  right: 2px;
}

  h1{
  font-size: 2em; font-weight: normal; color: #a6430a; margin: 0 0 .5em 0;}
  h2{
  font-size: 1.7em; margin: 0 0 1em 0;}
  h3{
  font-size: 1.5em; margin: 0 0 1em 0;}
  p{margin: 0 0 0.75em 0;}
  a{color: #de9000;}
  a:hover{color: #009eff;}
  #footer{font-size: .85em; color: #fff; background-color:#575c7a; padding: 10px 10px 10px 5px;}


#nav{
    width: 100%;
    height: 120px;
    background-color: #a6430a;
    border-radius: 2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
  }
  #nav ul{
    list-style-type: none;
    padding: 0px 0px 10px 15px;
    margin: 0;
    position: relative;
    float: left;
  }
  #nav ul li{
    display: inline-block;
    margin: 5px 5px 5px 2px;
    padding: 40px 30px 0px 0px;
    color: #a6430a;
  }

#nav ul li:hover{
  background-color: #a6430a;
  }

  #nav ul li a.visited{
    color:#a6430a;
    display: block;
    text-decoration: none;
  }
  #nav ul a:hover{
    color:#fff;
    text-decoration: none;
  }
  #nav ul li:hover ul{
  display: block;
  }
  #nav ul ul{
    display: none;
    position:absolute;
    z-index: 1;
    background-color: #a6430a;
    border: 0px solid #a6430a;
    border-top: 0;
    margin-left: 0px;
    left: 0px;
  }
  #nav ul ul li{
    display: block;
    background-color: #a6430a;

  }
  #nav ul ul li a.visited{
    color: #ccc;
  }
  #nav ul ul li:hover {
    color: #099;
  }
  #nav ul li a{
    color:#f5a06e;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 1.4em;
  }

  #main{
    background-color: #fff;
      width: 100%;
      position: relative;
      float: left;
}
#form{
  position: relative;
  bottom: 5px;
  left: 5px;
}
#button{
  position: absolute;
  top: 10px;
  right: 15px;
}

.main{
  background-color: #fff;
    margin-top: 100px;
    width: 70%;
    margin-left: 30%;
    margin-right: 30%;
    float: left;
}
.text{
  background-color: #fff;
    margin-top: 100px;
    width: 70%;
    margin-left: 30%;
    float: left;
}
.news{
  background-color: #fff;
    margin-top: 100px;
    width: 70%;
    margin-left: 30%;
    float: left;
}
.sale{
  background-color: #fff;
    margin-top: 275px;
    width: 70%;
    margin-left: 27%;
    position: relative;
    float: left;
}
#news{
  font-size: 6em;
  margin-left: 10%;
  float: left;
}
#undertext{
  font-size: 2em;
  font-weight: bold;
  margin-left: 2%;
  margin-bottom: 3em;
  float: left;
}
.slider {
  margin-top: 5%;
  width: 70%;
  margin-left: 7%;
  float: left;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
position: absolute;
width: 100%;
height: 100%;
}
.slide1 {
background: no-repeat center;
    background-size: cover;
  animation:fade 20s infinite;
-webkit-animation:fade 20s infinite;
}
.slide2 {
background: no-repeat center;
    background-size: cover;
  animation:fade2 20s infinite;
-webkit-animation:fade2 20s infinite;
}
.slide3 {
  background: no-repeat center;
    background-size: cover;
  animation:fade3 20s infinite;
-webkit-animation:fade3 20s infinite;
}
@keyframes fade
{
0%   {opacity:1}
33.333% { opacity: 0}
66.666% { opacity: 0}
100% { opacity: 1}
}
@keyframes fade2
{
0%   {opacity:0}
33.333% { opacity: 1}
66.666% { opacity: 0 }
100% { opacity: 0}
}
@keyframes fade3
{
0%   {opacity:0}
33.333% { opacity: 0}
66.666% { opacity: 1}
100% { opacity: 0}
}

#footer{
  padding-left: 20px;
  width: 100%;
  float: left;
  background-color: #515673;
}
