@CHARSET "UTF-8";

body {
    color: #000000;
    margin: -242px 8% 36px -11%;
    padding-left: 257px;
    
}

#holdPage {
    margin: 370px auto 700px;
    width: 900px;
}

#Title {
/*     background-color: #564c6c; */
/*     color: white; */
/*     font-family: roboto; */
 font-family: 'Roboto', sans-serif;
    font-size: 54px;
    font-style: oblique;
    margin: 0 -163px -9px 5px;
    padding-right: 9px;
    text-align: center;
}

#Qustion {
    color: black;
    font-size: 25px;
    text-align: right;
      padding-right: 108px;
}

table {
    border: 42px groove black;
    border-collapse: unset;
    width: 1072px;
    font-family: Comic Sans MS;
    font-size: 112%;
    
}



#DataBaseTable, th, td {
	border: 0px medium black;
	background-image: url("img/backGroundNew.jpg");
/* 	width: 100px; */
/* 	margin-right: auto; */

}

th {
	height: 50px;
	background-color: #0d280b;
	color: white;
	border-collapse: separate;
	 
}

td {
	height: 25px;
	
}

th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

tr:hover {
	background-color: #f2f0f3
}

tr:nth-child(even) {
	background-color: #b9b6bc
}



#form-input {
	width: 12px;
	background-color: blue;
}



.Button {
  background: #24282e;
  
  border-radius: 6px;
  
  cursor: pointer;
  height: 48px;
  line-height: 20px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 122px;
  font-family: serif;
  color: white;
  margin: -25px 0% 0% 54%;
  font-family: inherit;
  font-size: 150% ;
  font-style: italic;
  
}
.Button:hover {
  background: #d5d5d5;
  border-radius: 50%;
  font-size: xx-large;
  color: black;
}


.Buttons {
    background-color: #859bf0; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 114px;
}

.Buttons {
    background-color: white; 
    color: black; 
    border: 2px dotted black;
}

.Buttonss:hover {
    background-color: black;
    color: white;
    
}
.textStyle{
	 font-size: 14px;
	 font-family: 
	
}
